/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.cuf-shortcode-container,
.cuf-shortcode-container .pure-g,
.cuf-shortcode-container .pure-g [class*=pure-u]{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.cuf-shortcode-container p {
    margin: .5em 0;
}

.cuf-shortcode-container .text-center {
    text-align: center;
}

.cuf-shortcode-container .cuf-user-avatar-container {
    position: relative;
    padding: 5px 5px 5px 0px;
}

.cuf-shortcode-container .cuf-user-avatar-container .cuf-user-avatar {
    border: 1px solid #9aa0ac;
    border-radius: 50%;
}

.cuf-shortcode-container .cuf-user-avatar-container .cuf-user-is-supporter {
    color: #ffcc00;
    right: 5px;
    top: 0;
    position: absolute;
}

.cuf-shortcode-container .cuf-user-info-container {
    padding: 10px 0px 0px 10px;
}

.cuf-shortcode-container .cuf-user-info-container .cuf-user-name {
    color: #000000;
    display: block;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1em;
}

.cuf-shortcode-container .cuf-user-info-container .cuf-user-username,
.cuf-shortcode-container .cuf-user-info-container .cuf-user-location {
    color: #9aa0ac;
    display: inline;
    font-size: .75em;
}

.cuf-shortcode-container .cuf-user-info-container .cuf-user-location {
    margin-left: 1em;
}

.cuf-shortcode-container hr.solid {
    height: 1px;
    border: 0;
    background-color: #DDDDDD;
}

.cuf-shortcode-container hr.faded { 
    border: 0; 
    margin: 1.25em 0px;
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.cuf-shortcode-container .cuf-beer-label {
    margin: 0px 20px 0px 0px;
    float: left;
    height: 36px;
    width: 36px;
}

.cuf-shortcode-container .cuf-user-stats label {
    color: #9aa0ac;
    font-weight: 300;
    font-size: .75em;
    margin-bottom: 0px !important;
    text-transform: uppercase;
}

.cuf-shortcode-container .cuf-user-stats .stat {
    font-size: 1.25em;
    font-weight: 700;
}

.cuf-shortcode-container .cuf-checkin .cuf-checkin-badges {
    display: block;
    margin: 10px 0px;
}

.cuf-shortcode-container .cuf-checkin .cuf-checkin-badges img.cuf-checkin-badge {
    display: inline;
    margin: 0 10px 0 0;
    height: 24px;
    width: 24px;
}

.cuf-shortcode-container .cuf-badges img.cuf-checkin-badge {
    display: inline;
    margin: 5px 5px 0 5px;
    height: 36px;
    width: 36px;
}
